@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.bgimg {
  background: url(/img/court3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* Navbar Mod */

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #ffffff;
}

@media (min-width: 768px) {
  .abs-center-x {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }
}

/* End Navbar */

/* Home Page */

.anim {
  -webkit-animation: flicker-in-1 2s linear both;
  animation: flicker-in-1 2s linear both;
}

    @-webkit-keyframes flicker-in-1 {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0;
      }
      10.1% {
        opacity: 1;
      }
      10.2% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      20.1% {
        opacity: 1;
      }
      20.6% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      30.1% {
        opacity: 1;
      }
      30.5% {
        opacity: 1;
      }
      30.6% {
        opacity: 0;
      }
      45% {
        opacity: 0;
      }
      45.1% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      55% {
        opacity: 1;
      }
      55.1% {
        opacity: 0;
      }
      57% {
        opacity: 0;
      }
      57.1% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      60.1% {
        opacity: 0;
      }
      65% {
        opacity: 0;
      }
      65.1% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      75.1% {
        opacity: 0;
      }
      77% {
        opacity: 0;
      }
      77.1% {
        opacity: 1;
      }
      85% {
        opacity: 1;
      }
      85.1% {
        opacity: 0;
      }
      86% {
        opacity: 0;
      }
      86.1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes flicker-in-1 {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0;
      }
      10.1% {
        opacity: 1;
      }
      10.2% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      20.1% {
        opacity: 1;
      }
      20.6% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      30.1% {
        opacity: 1;
      }
      30.5% {
        opacity: 1;
      }
      30.6% {
        opacity: 0;
      }
      45% {
        opacity: 0;
      }
      45.1% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      55% {
        opacity: 1;
      }
      55.1% {
        opacity: 0;
      }
      57% {
        opacity: 0;
      }
      57.1% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      60.1% {
        opacity: 0;
      }
      65% {
        opacity: 0;
      }
      65.1% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      75.1% {
        opacity: 0;
      }
      77% {
        opacity: 0;
      }
      77.1% {
        opacity: 1;
      }
      85% {
        opacity: 1;
      }
      85.1% {
        opacity: 0;
      }
      86% {
        opacity: 0;
      }
      86.1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
}

.blink-1 {
	-webkit-animation: blink-1 0.6s  both;
	        animation: blink-1 0.6s  both;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.mt-5, .my-5 {
  margin-top: 4rem !important;
}

/* Products Section Header*/

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.flicker-in-1 {
	-webkit-animation: flicker-in-1 2s linear 2s both;
	        animation: flicker-in-1 2s linear 2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-17 17:6:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Gallery */

.gal-item{
	overflow: hidden;
	padding: 8px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}